<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.ssr.experimental"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="4" />

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <supports-screens android:smallScreens="true" android:xlargeScreens="true" android:largeScreens="true" android:normalScreens="true"></supports-screens>

    <application android:icon="@drawable/rtm_logo" android:label="@string/app_name" android:debuggable="true">
        <activity android:name="com.ssr.experimental.RoombaTester"
                  android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="stateHidden"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="jp.co.sec.rtm.RTCService"></service>
    </application>
</manifest>